<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="stylesheet" type="text/css" href="{{ asset('CSS/style.css') }}">
	    <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
	    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
	    <title>Erreur : {{ status_text }}</title>
	    {% block stylesheets %}
	     <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	    {% endblock %}  
	</head>
	<body>

	<div class="container-fluid">
		<header>
			<a href="{{ path('louvre_billetterie_home') }}"><h1 id="titre1">La Billetterie <br><span class="louvre"> - <br/>Musée du Louvre</span></h1></a>
		</header>
	</div>	
		
	<div class="container" id="message-page-erreur">

		<div id="content">
			<h1>Oops! Une erreur s'est produite durant le chargement de la page</h1>

			<h2>Notre application a retourné une erreur {{ status_code }} : {{ status_text }}.</h2>

			<br><br><br>

			<div>
			    Vous pouvez retourner à la <a href="{{ path('louvre_billetterie_home') }}">page d'accueil</a>
			</div>
		</div>

	</div>

	<div class="container-fluid">	

		<footer>
			<ul class="list-inline">
				<li class="col-md-4"><a href="http://www.louvre.fr/">Site officiel</a></li>
				<li class="col-md-4"><a href="">Mentions Légales</a></li>
				<li class="col-md-4"><a href="">Conditions générales de vente</a></li>
			</ul>
		</footer>

	</div>	

	</body>
</html>